<a href="https://colab.research.google.com/github/edcaamal/ejerciciosPython/blob/main/Manejo_de_clases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manejo de Clases
Uso de una clase con diferentes estruturas de datos
Con funciones personalizadas

In [8]:
# Clase Persona
class Persona:
  def __init__(self, nombre, edad, sexo):
    self.nombre = nombre
    self.edad = edad
    self.sexo = sexo
  
  def __str__(self):
    return (f"{self.nombre}.{self.edad}.{self.sexo}")

In [10]:
juan = Persona("juan", 17, "M")
print(juan)
pedro = Persona("pedro", 16, 'M')
print(pedro)
ana = Persona("ana", 16, 'M')
print(ana)

juan.17.M
pedro.16.M
ana.16.M

In [21]:
alumnos = []
alumnos.append(Persona("juan", 17, "M"))
alumnos.append(Persona("pedro", 16, 'M'))
alumnos.append(Persona("ana", 16, 'M'))

print("1 solo alumno : ", alumnos[0])
print("")

for i in range(len(alumnos)):
  print(i, alumnos[i])
print("")

for alumno in alumnos:
  print(alumno)

1 solo alumno :  juan.17.M

0 juan.17.M
1 pedro.16.M
2 ana.16.M

juan.17.M
pedro.16.M
ana.16.M

### Añadir Funciones

In [23]:
class Persona:
  def __init__(self, nombre, edad, sexo):
    self.nombre = nombre
    self.edad = edad
    self.sexo = sexo
  
  def __str__(self):
    return (f"{self.nombre}.{self.edad}.{self.sexo}")
  
  # Añadiendole una función personalizada
  def diasVividos(self):
    return self.edad * 365

In [27]:
# Lista de Alumnos
alumnos = []
alumnos.append(Persona("juan", 17, "M"))
alumnos.append(Persona("pedro", 16, 'M'))
alumnos.append(Persona("ana", 16, 'F'))

for alumno in alumnos:
  print(alumno, " ha vivido ", alumno.diasVividos(), "dias")

juan.17.M  ha vivido  6205 dias
pedro.16.M  ha vivido  5840 dias
ana.16.M  ha vivido  5840 dias

In [29]:
# Tupla de alumnos
# Tupla es inmutable, una vez creado no se pueden añadir más elementos

estudiantes = ()
estudiantes = (Persona("juan", 17, "M"),
               Persona("pedro", 16, 'M'),
               Persona("ana", 16, 'F'))

for estudiante in estudiantes:
  print(estudiante, " ha vivido ", estudiante.diasVividos(), "dias")

juan.17.M  ha vivido  6205 dias
pedro.16.M  ha vivido  5840 dias
ana.16.M  ha vivido  5840 dias

In [35]:
# Conjuntos

colegiados = {Persona("juan", 17, "M"),
               Persona("pedro", 16, 'M'),
               Persona("ana", 16, 'F')}

for colegiado in colegiados:
  print(colegiado, " ha vivido ", colegiado.diasVividos(), "dias")  
         
# Añadiendo un nuevo elemento
colegiados.add (Persona("maria", 17, "F"))
for colegiado in colegiados:
  print(colegiado)

juan.17.M  ha vivido  6205 dias
ana.16.F  ha vivido  5840 dias
pedro.16.M  ha vivido  5840 dias
maria.17.F
juan.17.M
ana.16.F
pedro.16.M